android==1.0
anyio==4.2.0
appdirs==1.4.4
asgiref==3.7.2
astroid==2.15.8
attrs==23.2.0
audiostream==0.2
beautifulsoup4==4.12.2
Brotli==1.1.0
bs4==0.0.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
construct==2.8.8
coverage==5.5
deprecation==2.1.0
dill==0.3.7
distro==1.8.0
Django==5.0
eyed3==0.9.7
filetype==1.2.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.2
httpx==0.26.0
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
isort==5.12.0
jedi==0.19.0
Kivy==2.2.1
lazy-object-proxy==0.0.0
lyricsgenius==3.0.1
mccabe==0.7.0
mutagen==1.47.0
outcome==1.3.0.post0
packaging==23.1
parso==0.8.3
pkgconfig==1.5.5
platformdirs==3.10.0
pluggy==1.3.0
protobuf==4.25.1
pybind11==2.11.1
pycparser==2.21
pycryptodome==3.19.1
pycryptodomex==3.19.1
pydub==0.25.1
pyee==8.2.2
pygame==2.5.0
pyjnius==1.5.0
pylint==2.17.5
pymp4==1.4.0
pyppeteer==1.0.2
PySDL2==0.9.15
PySocks==1.7.1
pytest==7.4.4
pytz==2023.3.post1
pywidevine==1.8.0
PyYAML==6.0.1
redis==5.0.1
requests==2.31.0
schedule==1.2.1
scikit-build==0.17.6
selenium==4.16.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
spotipy==2.23.0
spotube==0.5.16
sqlparse==0.4.4
toml==0.10.2
tomlkit==0.12.1
tqdm==4.66.1
trio==0.23.2
trio-websocket==0.11.1
typed-ast==1.5.5
tzdata==2023.4
Unidecode==1.3.7
urllib3==1.26.18
webencodings==0.5.1
websockets==10.4
wrapt==1.15.0
wsproto==1.2.0
youtube-search-python==1.6.6
yt-dlp==2023.12.30
zipp==3.17.0